.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse; /* Ensures borders don't double up */
  width: 80%; /* Optional: Makes the table take up the full width */
}

th, td {
  border: 1px solid #ccc; /* Adds a light gray border to cells */
  padding: 8px; /* Adds some padding inside cells */
  text-align: left; /* Aligns text to the left */
}

th {
  background-color: #f4f4f4; /* Optional: Adds a light background to headers */
}